body {
    height: calc(100vh - 60px);
    overflow: auto;
    width: 100vw;
}

.container {
    border: 2px solid black;
    border-radius: 3px;
}

.modal-backdrop {
    opacity: 0 !important;
}

input:disabled, textarea:disabled {
    background-color: #ffff !important;
    border: none !important;
}

label {
    font-weight: bold;
}

input#file-upload-button {
    background-color: white;
}

#employeeForm .modal {
    margin: 0 auto;
}

 #employeeForm .modal-dialog .modal-content {
     width: 60vw;
 }

#employeeForm input::-webkit-input-placeholder {
    color: red;
}

#error {
    color: red;
}

 @media only screen and (max-width: 768px) {
    #employeeForm .modal-dialog .modal-content {
        width: 100vw;
    }
 }


