body {
    height: calc(100vh - 65px);
    overflow: auto;
    width: 100vw;
}

.container {
    border: 2px solid black;
    border-radius: 3px;
}

.modal-backdrop {
    opacity: 0 !important;
}

input:disabled, textarea:disabled, select:disabled {
    background-color: #ffff !important;
    border: none !important;
}

label {
    font-weight: bold;
}

input#file-upload-button {
    background-color: white;
}

#employeeForm input::-webkit-input-placeholder {
    color: red;
}

#error {
    color: red;
}

#img {
    background-size: contain;
}

#depManagement .modal-body {
    height: 40vh;
}

#depDescription > .row {
    border: 3px solid black;
    border-radius: 10px;
}

 @media only screen and (max-width: 768px) {
    #employeeForm .modal-dialog .modal-content {
        width: 100vw;
    }
 }

 